body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
  }
  
  #container {
    text-align: center;
    padding: 20px;

  }
  
  ion-item {
    margin-bottom: 20px;
  }
  
  ion-button {
    margin-bottom: 20px;
    border-radius: 10px;
  }
  
  p {
    font-size: 0.8em;
  }
  
  a {
    color: #3880ff;
  }
  